@font-face {
    font-family: 'BankGothic';
    src: url('fonts/BankGothic.ttf');
}

@font-face {
    font-family: 'Jura';
    src: url('../fonts/Jura-Bold.ttf');
}

* {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

canvas {
    z-index: 0;
    border: 1px solid black;
}

body {
    text-align: center;
    background-color: black;
}

#debugger {
    display: none;
    z-index: 1;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 400px;
    /* height: 300px; */
    background-color: grey;
}